/*VARIABLES...................................................................................................................................*/
:root {
  --ColorNegro: #000000;
  --ColorBlanco: #ffff;
  --ColorPrimario: #f53000;
  --ColorSecundario: #0400F5;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*Con estas propiedades 1rem es igual a 10px (⛧)*/
html {
  font-size: 62.5%; /*(⛧)*/ /*<!-- ⫷❈⫸ -->*/
  box-sizing: border-box; /*Esto nos ayuda a crear Box Model (NO AFECTA EL TAMAÑO DE LOS ELEMENTOS SI ESTOS TIENEN PADING)*/ /*<!-- ⫷❈⫸ -->*/
}

*,
*:before,
*:after {
  /*Esto nos ayuda a crear Box Model (NO AFECTA EL TAMAÑO DE LOS ELEMENTOS SI ESTOS TIENEN PADING)*/ /*<!-- ⫷❈⫸ -->*/
  box-sizing: inherit; /*EL (*) ES UN SELECTOR Universal, por lo que esto se aplica a todos los elementos del html */ /*<!-- ⫷❈⫸ -->*/
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px; /*(⛧)*/ /*<!-- ⫷❈⫸ -->*/
}
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*ETIQUETAS y GLOVALES...................................................................................................................................*/

img {
  width: 50%;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: var(--ColorPrimario);
}
span {
  font-size: 3rem;
  font-weight: bold;
  color: var(--ColorSecundario);
}
p {
  font-size: 2rem;
}

/*...................................................................................................................................*/

/* ⫷ ⫷ ⫷ ⫷ ⫷ ⫷ ⫷ ⫷ ⫷ ⫷ ⫷ ⫷ ⫷ ⫷ INDEX.HTML ⫸ ⫸ ⫸ ⫸ ⫸ ⫸ ⫸ ⫸ ⫸ ⫸ ⫸ ⫸ ⫸ ⫸  */

/*Seccion (1)...................................................................................................................................*/
.cajaUno {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cajaDos {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoIta {
  margin-top: -3rem;
}
.logoIta2 {
  border-radius: 9rem;
  margin-top: 1rem;
}
/*...................................................................................................................................*/

/*<!-- ⫷❈⫸ -->*/
/* Responsive Desing (480px,768px,1140,1400)--------------------------------------------------------------------------------------------------------------*/

/*Monitor(⛧ iPhone 4 y Galaxi)***********************************************************/
@media screen and (min-width: 310px) and (max-width: 480px) {
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*Monitor(⛧ Monitor-Minimo)***********************************************************/
@media screen and (min-width: 480px) and (max-width: 759px) {
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*Monitor(⛧ iPad)***********************************************************/
@media screen and (min-width: 760px) and (max-width: 800px) {
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*Monitor(⛧ iPad Pro)***********************************************************/
@media screen and (min-width: 1000px) and (max-width: 1200px) {
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*Monitor(⛧ Laptop)***********************************************************/
@media screen and (min-width: 1270px) and (max-width: 1600px) {
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
